/* GLOBAL */
body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: black;
    color: #00ffcc;
}

/* MATRIX BACKGROUND */
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        rgba(0,255,100,0.05) 0px,
        rgba(0,255,100,0.05) 1px,
        transparent 1px,
        transparent 20px
    );
    z-index: -1;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: 1px solid #00ffcc;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #00ffcc;
}

.nav-links a:hover {
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typing {
    font-size: 40px;
    border-right: 3px solid #00ffcc;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(20), blink 0.5s infinite alternate;
}

/* typing animation */
@keyframes typing {
    from { width: 0 }
    to { width: 260px }
}

@keyframes blink {
    50% { border-color: transparent }
}

/* ABOUT */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 100px 20px;
}

.about-text {
    max-width: 500px;
}

.about-img img {
    width: 200px;
    filter: drop-shadow(0 0 10px #00ffcc);
}

/* PROJECTS */
.projects {
    padding: 100px 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

/* CARDS */
.card {
    border: 1px solid #00ffcc;
    padding: 20px;
    transition: 0.3s;
}

.card:hover {
    background: rgba(0,255,200,0.05);
    box-shadow: 0 0 10px #00ffcc;
}
